@import '../../../theme';

.logo {
  height: 50px;
}

.header {
  text-align: right;
  margin: $spacer * 2;
}

.tables {
  .table {
    cursor: pointer;
  }
  .title {
    display: block;
    font-size: 3em;
    margin: 0;
    text-align: center;
  }

  .info {
    display: block;
    font-size: 2em;
    margin: 0;
    text-align: center;
  }
}
