<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<div class="header">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="reset()">
      Reset
    </button>
    <button mat-menu-item (click)="openSettings()">
      Settings
    </button>
    <button mat-menu-item (click)="openEditGroups()">
      Edit Groups
    </button>
  </mat-menu>
</div>

<mat-grid-list class="tables" [cols]="numColumns" rowHeight="1:1">
  <mat-grid-tile class="table" *ngFor="let group of groups" [style.background]="group.color"
                 (click)="onLeftClick(group)" (contextmenu)="onRightClick(group)">
    <div class="content">
      <h3 class="title">
        {{group.name}}
      </h3>
      <div class="info">
        {{group.score}}
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
